.App-Header {
    display: flex;
    flex-direction: column;
    position: relative;
    text-indent: 2.5%;
    padding: var(--offset_s);
    background-color: var(--color_default);
    color: var(--color_white);
}

.App-Header::after {
    display: flex;
    content: '';
    height: 1px;
    width: 95%;
    background-color: var(--color_white);
    align-self: center;
}
