.App-Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: var(--offset_s);
    background-color: var(--color_default);
    color: var(--color_white);
}

.App-Header::after {
    display: flex;
    position: absolute;
    bottom: 0;
    content: '';
    height: 1px;
    width: 95%;
    background-color: var(--color_white);
}
